@charset "UTF-8";

html {
    font-size: 62.5%;
}
body {
    line-height: 1.7;
    font-size: 1.6rem;
    width: 100vw
}
img {
    max-width: 100%;
}
header{
    color: white;
    font-family: 'Caveat', cursive;
}
.bgimage{
    background-image: url(images/teatime.jpg);
    min-width: 100vw;
    min-height: 56vw;
    background-position: top left 50%;
}@media screen and (min-width:700px){
.bgimage{
    height: 100vh; /* 全画面表示 */ 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
}
.topcontent{
    color: white;
    text-align: center;
    margin: 10vw auto auto auto;
}@media screen and (min-width:700px){
.topcontent{
    color: white;
    text-align: center;
    margin: 30vh auto auto auto;
}
}
.topcontent h2{
    font-size: 4rem;
    font-family: 'Caveat', cursive;
}@media screen and (min-width:600px){
.topcontent h2{
    font-size: 8rem;
    font-family: 'Caveat', cursive;
}
}
.profile {
    text-align: center;
    margin: 80px 0;
}
.profile h2 {
    font-size: 2.5rem;
    padding: 20px 0;
}@media screen and (min-width:600px){
.profile h2{
    font-size: 5rem;
}}
@media screen and (min-width:700px){
.maincontents {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}}
.maincontents a {
    color: brown;
}
.maincontents a:hover {
    color: rgb(198, 149, 130)
}
.link{
    display: grid;
    gap: 40px;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 150px 150px 150px;
}
.item-picture img{
    width: 150px;
    height: auto;
}
.vivaldi{
    padding: 56px 0;
}
.item-big {
    grid-column: 2 / 4;
    margin: 50px 0;
}
footer {
    color: white;
    background-image: url(images/teatime_footer.jpg);
}
