html, body {
  height: 100%;
  min-height: 100vh; }

body {
  line-height: 1.7;
  font-size: 16px;
  min-width: 100%;
  color: white;
  background: transparent;
  font-family: "Libre Baskerville", "Shippori Mincho", serif; }

img {
  max-width: 100%; }

a {
  color: white;
  transition: 0.3s; }
  a:hover {
    opacity: 0.8; }
  a:visited {
    color: white; }
  a:focus {
    outline: 2px solid white;
    outline-offset: 3px; }

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/yunimaspage-2024-bg.jpg) center center/cover no-repeat;
  z-index: -1; }

.header {
  font-size: 20px;
  padding-top: 10px;
  position: relative;
  z-index: 1000; }
  @media screen and (max-width: 768px) {
    .header {
      font-size: 16px; } }
  .header .header__nav {
    justify-content: right;
    display: flex; }
    .header .header__nav .header__list {
      display: flex;
      list-style: none; }
      .header .header__nav .header__list .header__item-li {
        padding-right: 30px; }
        @media screen and (max-width: 768px) {
          .header .header__nav .header__list .header__item-li {
            padding-right: 20px; } }
        .header .header__nav .header__list .header__item-li .header__item-link {
          text-decoration: none;
          transition: 0.3s; }
          .header .header__nav .header__list .header__item-li .header__item-link:hover {
            opacity: 0.8; }

.top__wrapper {
  height: 100vh;
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .top__wrapper {
      height: 100dvh; } }
  .top__wrapper .top__container {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    margin-left: 20px;
    bottom: env(safe-area-inset-bottom, 10px); }
    .top__wrapper .top__container .top__body {
      font-size: 90px;
      line-height: 1.2; }
      @media screen and (max-width: 768px) {
        .top__wrapper .top__container .top__body {
          font-size: 10vw; } }
      .top__wrapper .top__container .top__body .top__calactor-big {
        font-size: 150px;
        letter-spacing: -25px; }
        @media screen and (max-width: 768px) {
          .top__wrapper .top__container .top__body .top__calactor-big {
            font-size: 18vw;
            letter-spacing: -3vw; } }

.about__container {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px; }
  .about__container .about__item-title {
    font-size: 40px;
    margin-bottom: 30px; }
  .about__container .about__list {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    list-style: none; }
    @media screen and (max-width: 768px) {
      .about__container .about__list {
        font-size: 16px;
        margin-bottom: 20px; } }
    .about__container .about__list .about__item-li {
      padding-bottom: 10px; }

.skills__wrapper {
  min-height: 48vw;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  margin-bottom: 100px;
  position: relative; }

.skills__list__container .skills__title__container {
  position: absolute;
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  margin-left: 20px;
  bottom: 0;
  right: 0;
  z-index: 1; }
  .skills__list__container .skills__title__container .skills__item-title {
    display: flex;
    align-items: flex-end;
    padding-right: 10px;
    justify-content: right;
    margin-top: auto;
    bottom: 0;
    margin-left: 20px;
    font-size: 70px; }
    @media screen and (max-width: 768px) {
      .skills__list__container .skills__title__container .skills__item-title {
        font-size: 10vw; } }
.skills__list__container .skills__col-ul {
  display: flex;
  list-style: none; }
  .skills__list__container .skills__col-ul .skills__item-li {
    break-inside: avoid; }
.skills__list__container .skills__list {
  list-style: none; }
.skills__list__container .skills__col-li-left {
  padding-left: 5vw;
  flex: 1; }
.skills__list__container .skills__list__col-left .skills__item-li {
  width: 20vw;
  height: 20vw;
  margin-bottom: 5vw; }
  .skills__list__container .skills__list__col-left .skills__item-li .skills__item-link {
    width: 18vw;
    height: 18vw; }
.skills__list__container .skills__col-li-right {
  flex: 3; }
.skills__list__container .skills__list__col-right {
  display: flex;
  flex-direction: column; }
  .skills__list__container .skills__list__col-right .skills__list__row {
    display: flex;
    padding-bottom: 3vw; }
    .skills__list__container .skills__list__col-right .skills__list__row .skills__item-li {
      margin-right: 3vw; }
  .skills__list__container .skills__list__col-right .skills__list__row-upper .skills__item-li {
    width: 16vw;
    height: 16vw; }
    .skills__list__container .skills__list__col-right .skills__list__row-upper .skills__item-li .skills__item-link {
      width: 14vw;
      height: 14vw; }
  .skills__list__container .skills__list__col-right .skills__list__row-middle .skills__item-li {
    width: 13vw;
    height: 13vw; }
    .skills__list__container .skills__list__col-right .skills__list__row-middle .skills__item-li .skills__item-link {
      width: 11vw;
      height: 11vw; }
  .skills__list__container .skills__list__col-right .skills__list__row-lower .skills__item-li {
    width: 10vw;
    height: 10vw; }
    .skills__list__container .skills__list__col-right .skills__list__row-lower .skills__item-li .skills__item-link {
      width: 8vw;
      height: 8vw; }
.skills__list__container .skills__item-li {
  background-color: white;
  border-radius: 10px; }
  .skills__list__container .skills__item-li .skills__item-link {
    margin: 1vw;
    object-fit: contain;
    object-position: 50% 50%; }

.links__title {
  font-size: 90px;
  margin-bottom: 70px; }
  .links__title .links__calactor-big {
    font-size: 120px; }
  @media screen and (max-width: 768px) {
    .links__title {
      font-size: 50px; }
      .links__title .links__calactor-big {
        font-size: 70px; } }

.links__container {
  text-align: center;
  padding-bottom: 80px; }
  .links__container .links__list .links__item-li {
    font-size: 22px;
    padding-bottom: 20px; }

.footer {
  color: white; }
  .footer .footer__item-copyright {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
